{% extends 'mainapp/base.html' %}

{% block content %}
{% for one_feedback in object_list %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ one_feedback.name_feetbacker }}: {{ one_feedback.title }}</h5>

        <p class="card-text">{{ one_feedback.body }}</p>
        <p>{{ one_feedback.photo_feetbacker.mini_thumbnail_wm.url }}</p>
        <img src="{{ one_feedback.photo_feetbacker.mini_thumbnail_wm.url }}" class="card-img-top"
            alt="фото написавшго отзыв: {{ one_feedback.name_feetbacker }} ">
    </div>

</div>
{% endfor %}
{% endblock content %}