{% extends 'mainapp/base.html' %}

{% block content %}
<div>
    <h1>Здраствуйте</h1>
    <p>Наша организация занимается строительством и ремонтом домов c 2010 года </p>
    <p>Мы занимаемся полным циклом строительства, а так же можем провести отдельные виды работ на объекте</p>
    <p>Посмотреть реализованные полностью проекты вы можете в<a href="{% url 'mainapp:projects_list' %}">галерее
            выполненных проектов</a>, так же вы можете посмотреть отдельно <a href="{% url 'mainapp:works' %}"> виды
            выполняемых нами работ</a> </p>
    <p>Любые вопросы вы можете написать на и мы ответим вам на Email</p>
    <form method="POST">

        {% csrf_token %}
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <input type="submit" value="отправить">
    </form>

</div>


{% endblock content %}