{% extends 'mainapp/base.html' %}

{% block content %}
<div class="container opacity-75">
    <h1>Здравствуйте</h1>
    <p>Наша организация занимается строительством и ремонтом домов c 2010 года </p>
    <p>Мы занимаемся полным циклом строительства, а так же можем провести отдельные виды работ на объекте</p>
    <p>Посмотреть реализованные полностью проекты вы можете в<a href="{% url 'mainapp:projects_list' %}"><strong>
                галерее
                выполненных проектов</strong></a>, так же вы можете посмотреть отдельно <a
            href="{% url 'mainapp:works' %}"><strong> виды
                выполняемых нами работ</strong></a> </p>


    {% include "mainapp/index_email_form.html" %}

</div>


{% endblock content %}