<div class="shadow-lg p-3 mb-5 bg-body rounded opacity-35">
    <h5>Любые вопросы вы можете написать на и мы ответим вам на Email</h5>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" id="inputAddress" name="question">
        </div>
        <div class="row">
            <div class="form-group col-md-6" name="{{ form.email.label }}">
                <label for="inputEmail4">{{ form.email.label }}</label>
                <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="test@mail.ru">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">{{ form.name.label }}</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Имя" name="name">
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-6">
                <label for="inputState">{{ form.work_type.label }}</label>
                <select id="inputState" class="form-control" name="work_type">
                    {% for type in form.work_type %}
                    <option {% if forloop.first %}selected{% endif %}>{{ type }}</option>
                    {% endfor %}

                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputState">{{ form.work_type.label }}</label>
                <select id="inputState" class="form-control" name="material_type">
                    {% for type in form.material_type %}
                    <option {% if forloop.first %}selected{% endif %}>{{ type }}</option>
                    {% endfor %}

                </select>


            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">отправить</button>

    </form>

</div>