{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<div>
    <h1 align="center"> Новости нашей организации </h1>
    <br>
</div>


<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for news in object_list %}
        <div class="col">
            <div class="card shadow-sm">

                <a style="text-decoration: none; " href="{% url 'mainapp:news_list' %}">
                    <img src='{{ news.mini_thumbnail_wm.url}}' class="bd-placeholder-img card-img-top" width="100%"
                        height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                        focusable="false">

                    <div class="card-body">
                        <p>{{ news.mini_thumbnail_wm.url}}</p>
                        <h4>{{ news.title }}</h4>
                        <p class="card-text">{{ news.preamble }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{ news.created }}</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
<br>


{% include 'mainapp/overall/paginator.html' %}
{% endblock content %}