{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}



<main class="container">
    <div class="p-4 p-md-2 mb-2 text-white rounded bg-dark">
        <div>
            <h1 class="display-4 fst-italic">Наши проекты</h1>
            <p class="lead my-2">Этап завершения работ определяется заказчиком.</p>
        </div>
    </div>
    <th colspan="4">
        <form action="{% url 'mainapp:projects_list' %}" method="GET">
            <label>Выбрать определенный тип основного материала дома:
                <select name="relation">
                    <option value="all">Все типы</option>
                    <option value="br">Дома из кирпича</option>
                    <option value="bl">Дома из блоков</option>
                    <option value="fr">Каркасные дома</option>
                </select>
            </label>
            <input type="submit" value="Показать">
        </form>
    </th>





    <br><br>
    {% include 'mainapp/in_poject_list.html' %}

</main>
















{% include 'mainapp/overall/paginator.html' %}

{% endblock content %}