{% extends 'mainapp/base.html' %}

{% block content %}
<div class="row g-5">
  <div class="col-md-4">
<h3 class="pb-4 mb-4 fst-italic border-bottom">
        Проводим различные типы работ
      </h3>
      <h5 class="pb-4 mb-4 fst-italic border-bottom">Все фотографии сделаны на наших обьектах</h5>
      <ul>
          <li>
              Геодезические
          </li>
          <li>
              Подготовительные
          </li>
          <li>
              Земляные
          </li>

          <li>
              Каменные
          </li>
          <li>
              Бетонные/железобетонные
          </li>
          <li>
              Монтажные
          </li>
          <li>
              Кровельные
          </li>
          <li>
              Отделочные
          </li>
          <li>
              Изоляционные
          </li>
          <li>
              Слаботочные
          </li>

      </ul>
</div>


  <div class="col-md-8">






{% for type_it, pictures_li in di_types.items %}

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">

  <div class="carousel-inner ">
     {% for picture in pictures_li %}
      <a href="{% url 'mainapp:project'  picture.project.pk %}">
          <div class="carousel-item {% if forloop.first %} active{% endif %}">
            <img src="{{ picture.main_thumbnail_wm.url }}" class="d-block"  alt="{{ picture.project }}">
            <div class="carousel-caption d-none d-md-block">
            <h1 color="green"><strong>{{ type_it }}</strong> </h1>
            <p>Некоторый репрезентативный заполнитель для слайда.</p>
          </div>
      </a>

  </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% endfor %}





{% endfor %}

</div>



</div>

{% endblock content %}