{% with now_page=request.resolver_match.view_name %}
{% load static %}

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="{% url 'mainapp:index' %}"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="80" height="42">
                <image xlink:href="{% static 'pictures/label.png' %}" width="100%" height="100%"
                    preserveAspectRatio="xMidYMin slice"></image>

            </svg>
            <span class="fs-4"> - Ремонт и Строительство</span>
        </a>
        <h3>8 911 - ** - **</h3>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'mainapp:index' %}" class="nav-link 
                    {% if now_page in 'mainapp:index' %} active {% endif %}" aria-current="page">Главная</a>
            </li>
            <li class="nav-item"><a href="{% url 'mainapp:news_list' %}" class="nav-link
                            {% if now_page in 'mainapp:news_list' %} active {% endif %}">Новости</a></li>

            <li class="nav-item"><a href="{% url 'mainapp:projects_list' %}"
                    class="nav-link {% if now_page in 'mainapp:projects_list' %} active {% endif %}">Галерея
                    выполненных проектов</a>
            </li>
            <li class="nav-item"><a href="{% url 'mainapp:works' %}"
                    class="nav-link {% if now_page in 'mainapp:works' %} active {% endif %}">Выполняемые
                    работы</a></li>
            <li class="nav-item"><a href="{% url 'mainapp:feedback_list' %}" class="nav-link
                            {% if now_page in 'mainapp:feedback_list' %} active {% endif %}">Отзывы</a></li>
            <li class="nav-item"><a href="{% url 'mainapp:contacts' %}"
                    class="nav-link {% if now_page in 'mainapp:contacts' %} active {% endif %}">Контакты</a>
            </li>
            <li>
                {% if user.is_staff %}
                <a href="{% url 'admin:index' %}">Администрироване</a>
                {% endif %}
            </li>



        </ul>



    </header>
</div>
{% endwith %}