{% with now_page=request.resolver_match.view_name %}


<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Simple header</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'mainapp:index' %}" class="nav-link 
                    {% if now_page in 'mainapp:index' %} active {% endif %}" aria-current="page">Главная</a>
            </li>
            <li class="nav-item"><a href="{% url 'mainapp:news' %}" class="nav-link
                            {% if now_page in 'mainapp:news' %} active {% endif %}">Новости</a></li>
            <li class="nav-item"><a href="{% url 'mainapp:we' %}" class="nav-link
                {% if now_page in 'mainapp:we' %} active {% endif %}">О
                    Нас</a></li>
            <li class="nav-item"><a href="{% url 'mainapp:galery' %}"
                    class="nav-link {% if now_page in 'mainapp:galery' %} active {% endif %}">Галерея
                    выполненных проектов</a>
            </li>
            <li class="nav-item"><a href="{% url 'mainapp:works' %}"
                    class="nav-link {% if now_page in 'mainapp:works' %} active {% endif %}">Выполняемые
                    работы</a></li>
            <li class="nav-item"><a href="{% url 'mainapp:contacts' %}"
                    class="nav-link {% if now_page in 'mainapp:contacts' %} active {% endif %}">Контакты</a>
            </li>
        </ul>
    </header>
</div>
{% endwith %}