{% load static %}

<div class="container">

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <span class="mb-3 mb-md-0 text-muted">© 2022 </span>
        </div>
        <p>Мы в контакте</p>
        <p align="left"><a href="">Наши новости в Telegram</a></p> <br>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://t.me/RiS_official"><svg class="bi" width="24"
                        height="24">
                        <use xlink:href="{% static '/pictures/telegram.png' %}"></use>
                    </svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#instagram"></use>
                    </svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#facebook">контакт</use>
                    </svg></a></li>
        </ul>

    </footer>

</div>